<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.neu.ticket.mapper.TicketMapper">
    <resultMap id = "FirstQueryMap" type = "QueryInfo">
        <result column="train_id" property="train_id"/>
        <result column="start_time" property="start_time"/>
        <result column="start_station" property="start_station"/>
        <result column="end_station" property="end_station"/>
        <result column="arrive_time" property="arrive_time"/>
    </resultMap>

    <select id="doFirstQuery" parameterType="QueryInfo" resultMap="FirstQueryMap">
    SELECT    s.train_id, s.station_name start_station, E.station_name end_station,
          s.start_time start_time, E.arrive_time arrive_time
    FROM T_route S, T_route E
    WHERE s.route_num = E.route_num
    AND (S.station_name =#{start_station}) AND (E.station_name = #{end_station})
    </select>

</mapper>