<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.neu.ticket.mapper.TicketMapper">
    <resultMap id = "FirstQueryMap" type = "QueryInfo">
        <result column="train_id" property="train_id"/>
        <result column="start_time" property="start_time"/>
        <result column="start_station" property="start_station"/>
        <result column="arrive_station" property="end_station"/>
        <result column="arrive_time" property="arrive_time"/>
    </resultMap>

    <select id="doFirstQuery" parameterType="QueryInfo" resultMap="FirstQueryMap">
    select train_id, s.station_name start_station, t.station_name arrive_station, start_time, arrive_time, mile
    from T_route, T_station s, T_station t
    where (T_route.station_id=s.station_id) AND (T_route.arrive_station = t.station_id)
          AND (s.station_name=#{start_station}) AND (t.station_name=#{end_station})

    </select>

</mapper>