*, td {margin:0;padding:0;}

.left_div{
    width: 15%;
    height: 400px;
    border: 1px solid grey;
    float: left;
    background-color: darkgrey;
}

.right_div{
    width: 83%;
    height: 400px;

    float: left;
}

.left_div .left_ul{
    height: 50px;
    line-height: 50px;
    list-style:none;
    display:inline;
}

.left_ul li{
    line-height: 50px;
    height: 50px;
    border: 1px solid grey;
    margin-bottom: 0px;
}
.left_ul li a{
    width: inherit;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.ul_wraper{
    height: auto;
    width: auto;
    margin: auto 0px;
    background-color: midnightblue;
}
.right_view_class{

    height:95%;
    width: 95%;
    margin: 1% ;
    border: 1px solid darkgrey;
    background-color: lightgray;
}
.oder_table_class{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.oder_table_class .table_head_class td{
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid grey;
}

.oder_table_class .table_row_class td{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid grey;
}



.oder_table_class .table_head_class td p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;

    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.table_head_class{
    background-color: lightblue;
}
.table_row_class{
    background-color: whitesmoke;
    border: 0px;
}

.oder_table_class .table_row_class td p{
    text-align: center;
    font-size: 10px;

    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.table_row_class .oder_info_more{
    color: #FF7F00;
    text-align: center;
    font-size: 15px;
}
.table_row_class .draw_yes{
    color: lawngreen;
}

.table_row_class .draw_not{
    color: red;
}

.oder-detail-popup-wrapper{
    display: none;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background: url(../Images/bg.png) repeat;
    z-index: 9998;
}

#detail-popup {
    display:none;
    position: fixed;
    top:20%;
    left:30%;
    margin: -45px 0 0 -185px;
    width:60%;
    height: 60%;
    background:#fff;
    border:3px solid #1a546f;
    z-index: 9999;

}
.oder-detail-popup-wrapper .lay-hd{
    text-align: center;
}

.detail_close{
    width: 122px;
    height: 30px;
    line-height: 30px;
    background-color: orangered;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.ticket_refund_serve{
    width: 122px;
    height: 30px;
    line-height: 30px;
    background-color: orangered;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.ticket_endorse_serve{
    width: 122px;
    height: 30px;
    line-height: 30px;
    background-color: orangered;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.oder_bottom_area{

    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.refund_detail_bottom_area{
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.refund_notice_area{
    height: 75%;
    background-color: gainsboro;
}
.oder_bottom_area p, .refund_detail_bottom_area p{
    text-align: center;
}
.reg-list .info_reset_class{
    border: none;
    background: none;
    color: green;
}

.refund_detail{
    height: 40px;
    background-color: #1a546f;
    line-height: 40px;
}

.refund_detail p{
    width: inherit;
    line-height: 40px;
    height: 40px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/************以下三个样式是对单独的注册界面的设计************/
.login_body_class{
    background: url("../images/01.jpg") no-repeat;
    background-size: 100%;
}

.container_class{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background: url(../images/bg.png) repeat;
}

.login_panel_class{
    position: fixed;
    top:40%;
    left:45%;
    width:400px;
    margin: -45px 0 0 -185px;
    height: 300px;
    background:#fff;
    border:3px solid #017eba;
}

.my_start p{
    height: 40px;
    line-height: 40px;
}

.content_result .th th p{
    color: whitesmoke;
    font-size: 20px;
    height: 30px;
    line-height: 30px;

    text-align: center;

    font-weight: bold;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.content_result tr{
    border: 1px solid lightgrey;
}

.my_top_tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}

.my_top_tbody td{

}


.my_top table{
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f3e7f5;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}



.my_top_tbody p{
    text-align: center;
    font-size: 15px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.my_top_tbody tr{
    vertical-align: inherit;
}



.my_top_tbody .address_area_1{
    width: 90%;
}

